
$background-color : linear-gradient(#1E97DC, #A8CFE3) fixed; // linear-gradient(#43BBFF, #A8CFE3);
$secondary-color: #FFFFFF;
$profile-text-color: #9EDCFF;
$profile-message-color: #000000;
$footer-color: #000000;

html, body {
    font-family: "Open Sans", sans-serif; // "Comic Sans MS", "Comic Sans", serif;
    margin: 0;
    height: 100%;
}

h1 {
    color: $secondary-color;
    cursor: default;
}

.light-background {
    background: $background-color;
    background-repeat:no-repeat;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#logo {
    height: 150px;
    width: 150px;
    margin: 25px 0px;
}

nav {
    display: grid;
    font-size: 20px;
}

nav a, nav a:visited  {
    color: $secondary-color;
    cursor: pointer;
    text-decoration: none;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 125px 125px 125px auto;
    text-align: center;
}

.nav-home {
    grid-column-start: 2;
    grid-column-end: 3;
}

.nav-about {
    grid-column-start: 3;
    grid-column-end: 4;
}

.nav-projects {
    grid-column-start: 4;
    grid-column-end: 5;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-title {
    cursor: default;
    grid-area: profile-title;
}

.profile-picture {
    grid-area: profile-picture;
    object-fit: cover;
    width: 100%;
}

.profile-message {
    grid-area: profile-message;
  }

.profile-title, .profile-message a, .profile-message a:visited {
    color: $profile-text-color;
    text-decoration: none;
}

.profile-message p {
    color: $profile-message-color;
    padding-left: 15px;
}

.profile-message a {
    font-size: 35px;
    cursor: pointer;
}

.button {
    display: inline;
    border: 1px solid $profile-text-color;
    border-radius: 5px;
    background-color: $profile-text-color;
    padding: 10px;
}

.button a {
    color: $secondary-color;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    background-color: $footer-color;
}

footer div {
    margin: 10px;
}

.footer-links {
    margin-bottom: 0px;
}
.footer-links a {
    font-size: 35px;
    margin: 0px 25px;
}

.footer-links a:visited, .footer-links a:hover, .footer-links a:active, .footer-links a:link {
    color: $secondary-color;
    text-decoration: none;
}

#footer-envelope {
    font-size: 38px;
}

// Desktop
@media (min-width:426px) {
    .profile-card {
        background-color: $secondary-color;
        display: grid;
        grid-template-rows: 37px auto;
        -webkit-grid-template-rows: 37px auto;
        grid-template-columns: 25% 75%;
        grid-template-areas: "profile-picture profile-title"
                             "profile-picture profile-message";
        padding: 2.5%;
        margin: 50px 10%;
        height: 100%;
        max-width: 600px;
        border-radius: 15px;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .profile-card {
        padding: 5%;
    }
}

// Styling for Mobile
@media  (max-width: 425px) {
    .nav-container {
        grid-template-columns: auto auto auto;
        column-gap: 25px;
    }

    .profile-card {
        background-color: $secondary-color;
        display: grid;
        grid-template-areas: "profile-title"
                             "profile-picture"
                             "profile-message";
        width: 80%;
        border-radius: 15px;
        margin: 50px 10%;
    }

    .profile-picture {
        margin: auto;
        width: 60%;
    }

    .profile-message {
        margin: 15px;
    }
  }

// Tablets
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    /* For portrait layouts only */
    @media (orientation:portrait) {
        .light-background {
            height: 100%;
        }

        footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
    }
    
}


// Safari 10.1 +
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .profile-picture {
        margin: auto;
        width: 60%;
        max-width: 130px;
    }

    .profile-message {
        margin: 15px;
    }
}}