html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
  color: #FFFFFF;
  cursor: default;
}

.light-background {
  background: linear-gradient(#1E97DC, #A8CFE3) fixed;
  background-repeat: no-repeat;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#logo {
  height: 150px;
  width: 150px;
  margin: 25px 0px;
}

nav {
  display: grid;
  font-size: 20px;
}

nav a, nav a:visited {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.nav-container {
  display: grid;
  grid-template-columns: auto 125px 125px 125px auto;
  text-align: center;
}

.nav-home {
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav-about {
  grid-column-start: 3;
  grid-column-end: 4;
}

.nav-projects {
  grid-column-start: 4;
  grid-column-end: 5;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-title {
  cursor: default;
  grid-area: profile-title;
}

.profile-picture {
  grid-area: profile-picture;
  object-fit: cover;
  width: 100%;
}

.profile-message {
  grid-area: profile-message;
}

.profile-title, .profile-message a, .profile-message a:visited {
  color: #9EDCFF;
  text-decoration: none;
}

.profile-message p {
  color: #000000;
  padding-left: 15px;
}

.profile-message a {
  font-size: 35px;
  cursor: pointer;
}

.button {
  display: inline;
  border: 1px solid #9EDCFF;
  border-radius: 5px;
  background-color: #9EDCFF;
  padding: 10px;
}

.button a {
  color: #FFFFFF;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  background-color: #000000;
}

footer div {
  margin: 10px;
}

.footer-links {
  margin-bottom: 0px;
}

.footer-links a {
  font-size: 35px;
  margin: 0px 25px;
}

.footer-links a:visited, .footer-links a:hover, .footer-links a:active, .footer-links a:link {
  color: #FFFFFF;
  text-decoration: none;
}

#footer-envelope {
  font-size: 38px;
}

@media (min-width: 426px) {
  .profile-card {
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 37px auto;
    -webkit-grid-template-rows: 37px auto;
    grid-template-columns: 25% 75%;
    grid-template-areas: "profile-picture profile-title" "profile-picture profile-message";
    padding: 2.5%;
    margin: 50px 10%;
    height: 100%;
    max-width: 600px;
    border-radius: 15px;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .profile-card {
    padding: 5%;
  }
}
@media (max-width: 425px) {
  .nav-container {
    grid-template-columns: auto auto auto;
    column-gap: 25px;
  }

  .profile-card {
    background-color: #FFFFFF;
    display: grid;
    grid-template-areas: "profile-title" "profile-picture" "profile-message";
    width: 80%;
    border-radius: 15px;
    margin: 50px 10%;
  }

  .profile-picture {
    margin: auto;
    width: 60%;
  }

  .profile-message {
    margin: 15px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .light-background {
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .profile-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
    }

    .profile-picture {
      margin: auto;
      width: 60%;
      max-width: 130px;
    }

    .profile-message {
      margin: 15px;
    }
  }
}

/*# sourceMappingURL=main.css.map */
